:root {
  --white: #ffffff;
  --gray-50: #f0f1f3;
  --gray-100: #e6e8eb;
  --gray-200: #c3c7ce;
  --gray-300: #a5acb5;
  --gray-400: #87909d;
  --gray-500: #697484;
  --gray-600: #556070;
  --gray-700: #424e60;
  --gray-800: #2b384c;
  --gray-900: #132238;

  --purple-100: #edd8ff;
  --purple-200: #dbb1ff;
  --purple-300: #c98bff;
  --purple-400: #b764ff;
  --purple-500: #a53dff;
  --purple-600: #8431cc;
  --purple-700: #632599;
  --purple-800: #421866;
  --purple-900: #210c33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "work sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
}

header {
  display: flex;

  padding: 0 10.8rem;
  background: var(--white);
  position: fixed;
  width: 100%;
}
h1 {
  color: #132238;
}

p {
  color: #87909d;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.logoName {
  font-weight: 600;
  color: #132238;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 40px;
  height: 56px;
}
.navigation ul {
  display: flex;

  gap: 24px;
}
.navigation ul li a {
  color: #333333;
  font-weight: 500;
  padding-bottom: 4px;
  font-weight: 500;
  padding: 12px, 24px;
  font: "work sans", sans-serif;
}

.navigation .check {
  color: #fff;
  background-color: var(--purple-500);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
}

.say-hello {
  background-color: var(--purple-500);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--white);
}

.image-profiles {
  border-radius: 10px;
}

/* INCIO DA PRIMEIRA SECTION*/

.home {
  width: 100%;
  height: 720px;
  display: flex;
  padding: 0 10.8rem;
  padding-top: 7.875rem;
  gap: 3.8rem;

  background-image: url(assets/background.svg);
  background-size: cover;
}

.inicial-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;

  line-height: 84px;

  gap: 1.5rem;
}

.context-left {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.image-profile {
  width: 50%;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
}

.text-1 {
  width: 100%;
  display: block;
  font-size: 2.5rem;
}
.nome {
  color: #132238;
}

.inicial-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.6px;
  line-height: 24px;

  color: #556070;
}

.button-container {
  width: 100%;
}

.frame1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.frame2 {
  background: var(--purple-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.title-frame {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Section 2  */
.home2 {
  background: var(--white);
  padding: 0 10.8rem;
  margin-top: 11.875rem;
  margin-bottom: -12rem;
}

.home22 {
  width: 100%;
  display: flex;

  padding: 3rem;

  gap: 8.5rem;

  box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
  border-radius: 16px;
}

h1 {
  color: #132238;
}

.design-paragraph {
  color: #87909d;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.inicial-text2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 4rem;
}

.text-2 {
  width: 100%;
  display: block;
  font-size: 2.5rem;
}

.image-profile2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.say-hello2 {
  display: flex;
  gap: 1.5rem;
}

.say-hello3 {
  padding: 1rem;
  background-color: var(--white);
  border: 1px solid var(--purple-500);
  color: var(--purple-500);
  border-radius: 4px;
}

.say-hello3:hover {
  background-color: var(--purple-500);
  color: #fff;
}

.icons {
  display: flex;
  height: 70px;
  gap: 2rem;
  background-color: var(--white);
  margin-top: -2rem;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 4px;
}

.linkedin {
  background-color: var(--purple-500);
  height: 35px;
  padding: 0.5rem 0.5rem;
}

/* PROCESS */

.home3 {
  width: 100%;
  height: 38rem;
  display: flex;
  padding: 8rem 10.8rem;
  margin-top: 11.875rem;
  gap: 8.5rem;

  background: var(--gray-50);
}

.text-3 {
  padding-top: 12rem;
  width: 50%;
  display: block;
  font-size: 18px;
}

.frames {
  display: flex;
  width: 50%;
  gap: 1.5rem;
}

.frame {
  background: var(--white);
  margin-top: 2rem;
  padding: 1rem;

  box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.1);
  border-radius: 12px;
}

.framecolor {
  background-color: var(--purple-100);
  display: flex;
  margin: 0.7rem;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.paragraph-table {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}

/* PORTFOLIO */

.home4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10.8rem;
  margin-top: 4.875rem;
  gap: 4.375rem;
  background: var(--white);
}

.verde {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.amarela {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.azul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 3.125rem;
  padding: 0 0 1.5rem;
}

.preta {
  display: flex;
  flex-direction: column;
  width: 33%;
  overflow: hidden;
}

.paragraph-port {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #556070;
}

.text-portfolio {
  border-right: 0.5px solid var(--gray-100);
  border-left: 0.5px solid var(--gray-100);
  border-bottom: 0.5px solid var(--gray-100);
  padding: 1rem;

  background: #ffffff;
  /* Gray/100 */

  border: 1px solid #e6e8eb;
  border-radius: 8px;
}

.image-ux {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caseStudyButton {
  background: none;
  border-color: var(--purple-500);
  border-radius: 4px;
  padding: 1rem 3rem;
  color: var(--purple-500);
  font-family: "Work Sans";
}

.caseStudyButton {
  display: flex;
  gap: 0.75rem;
  margin-top: 2rem;
}

.product {
  padding: 0.4rem 0;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #333333;
}

.more-projects {
  width: fit-content;
  background-color: var(--purple-500);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--white);
  margin-left: 29rem;
}

/* SECTION 5 */

.home5 {
  width: 100%;
  height: 33rem;
  display: flex;
  padding: 0 10.8rem;
  gap: 8.5rem;
  background: var(--gray-900);
}

.work {
  display: flex;
  color: var(--white);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
}

.together {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 25.875rem;
  gap: 12px;
}

.work1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #a5acb5;
}

.btn-work {
  background-color: var(--purple-500);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--white);
}

.home6 {
  background: var(--white);

  width: 100%;
  height: 33rem;
  padding: 0 10.8rem;
  gap: 8.5rem;
}

.content-blog {
  margin-top: 4.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4.375rem;
}

.all-blog {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.image-blog {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  overflow: hidden;

  background: #ffffff;
  /* Gray/50 */

  border: 16px solid #f0f1f3;
  box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  border-radius: 8px;
}

.txt-blog {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #87909d;
}

h6 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  text-align: center;

  color: #333333;
}

.img-blog {
  width: 100%;

  background: url(.jpg), #c4c4c4;
}

.blog {
  width: 108px;
  height: 56px;

  padding: 0 0 6rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  /* Gray/900 */

  color: #132238;
}

.paragraph-blog {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;

  /* Gray/400 */

  color: #87909d;
}

.home7 {
  background: var(--gray-50);
  width: 100%;
  display: flex;
  padding: 0 10.8rem;
  padding-top: 7.875rem;
  gap: 3.8rem;
}

.container-what {
  display: flex;
  align-items: center;
  padding: 0 0 4.375rem;

  gap: 8.938rem;
}

.watchAll2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.whatH1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  color: #333333;
}

.what {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* Gray/500 */

  color: #697484;
}

.say-hello7 {
  background-color: var(--purple-500);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--white);
}

.what1 {
  background: #ffffff;
  border-radius: 6px;

  padding: 1rem 2rem;
  width: 30rem;
}

.what1:hover {
  border-left: 6px solid purple;
}

.home8 {
  width: 100%;
  padding: 0 10.8rem;
  padding-top: 4.875rem;
  gap: 3.8rem;
}

.happy {
  display: flex;
  flex-direction: column;
}

.content-happy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logos-redes-sociais {
  display: flex;

  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}

.home9 {
  width: 100%;
  padding: 0 10.8rem;
  padding-top: 4.875rem;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.testimonial1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
}

.testimonial3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.paragraph-testimonial {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  /* Gray/400 */

  color: #87909d;

  width: 581px;
  height: 48px;
}

.paragraph2-testimonial {
  width: 872px;
  height: 96px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  /* Gray/800 */

  color: #2b384c;
}

.paragraph3-testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home10 {
  width: 100%;
  padding: 0 10.8rem;
  padding-top: 8.875rem;
  display: flex;
  z-index: 10;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 2.188rem;
}

.adress {
  display: flex;

  gap: 1.563rem;

  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  border-radius: 10px;
  width: 20rem;
}

.table-adress {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  margin-left: 1.5rem;
}

.content-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4rem;
  gap: 6.438rem;

  background: #ffffff;
  box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.icons-form {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 0.9rem;
}
.infos {
  text-align: initial;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #424e60;
}

.infos2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #132238;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 0.5rem;
}

input {
  border: none;
  border-bottom: 1px solid var(--purple-500);
}

.btn-submit[type="submit"] {
  padding: 12px 24px;
  gap: 12px;

  width: 141px;
  height: 34px;

  border: none;

  background: #a53dff;
  color: #fff;

  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.setinha {
  width: 24px;
  height: 24px;
}

input:hover {
  transform: scale(1.01);
  transition: all 0.5s;
  color: var(--purple-500);
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;

  outline: 0;
}

input::placeholder {
  color: var(--purple-500);
}

.home11 {
  width: 100%;
  height: 10rem;
  padding: 0 10.8rem;
  padding-top: 4.875rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 12;
  margin-top: -2rem;

  background-color: #2b384c;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 2.5rem;
}

.footer-content-logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  color: var(--white);
}

.credits {
  color: var(--white);
}

nav ul li a {
  color: var(--white);
}

.Budget {
  display: flex;
  gap: 2rem;
}

.sub-hv{
  padding: 0.5rem;
  
}